body{
    margin: 0;
}

header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding-left: 2%;
    padding-right: 2%;
}
.boldolse{
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

.montserrat{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.winky-sans{
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.hero{
    background-color: red;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

ul{
    list-style: none;
}
li{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#menu{
    display: none;
}
.footer{
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logoscuola{
    height: 13vh;
    display: flex;
    justify-content: space-around;
}
.imglogo{
    height: 80%;
}
.info > a {
    text-decoration: none;
    background-color: darkcyan;
    color: white;
    padding: 10px 8px;
    border-radius: 10px;
}

span{
    font-family: "Winky Sans", sans-serif;
}

footer > div {
    width: 33.3%;
    display: flex;
    justify-content: center;
}